html {
margin: 75px;
}
/**** TOP OF PAGE ****/
header {
background-color:#50343C;
color: #Dea5Ae;
height: 50px;
}
.heading {
background-color: #FFA3A3;
color:white;
}
body {
  margin:0;
}

.banner {
display: inline-block;
width: 100%;
height:100px;
border-bottom:3px solid black;
background-color: #50343C;
  color: #C4A464;
}
#adBanner{
display:inline-block;
}
#clear {
float:right;
  overflow: hidden;
}

.underline{
  border-bottom: 5px solid black;
}
/* center items in page  - nav bar area */
.nav-bar {
text-align: center;
}
.page-title, .menu-items {
display: inline-block;
}
.page-title {
width: 40%;
padding-right:50px;
text-align: left;
float: left; 

} 
/* style the header a bit */
.header{
color: #Dea5Ae;
background-color: #50343C;
height: 50px;
}

/* center header ---> */
 h1, h2 {
   text-align: center;
   /*no margin*/
   margin:0;
 }

 .fill-request{ 
  background-color: #Dea5Ae;
  color: white;
  height: 50px;
}

/**** register page - REgister link - ****/
.register-Link {
text-decoration:none;
color:black;
}
 /*center envelope*/

 .img {
   display:block;
   margin-left:auto;
   margin-right:auto;
   width:90%;
 }

h1, p, h2{
font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul{
list-style-type: none;
}
p{
  color: #444444;
  text-align: center;
}
a {
color:#F3F5F3;
text-decoration: none;
}
/****** center text ******/

.center {
text-align: center;
}


/* style the driver****/

.driver {
margin:10px;
}
.driver>h1, .driver>p {
text-align: left;
margin-left:10px;
}

/*****added  padding to show up between placeholder text and 
the input box****/
.inpadding{
  padding:10px;
  margin:5px;
}

.wrapper{
  margin:3px;
text-align: center;
} 
 /******** Footer **************/
 
footer {
background-color: #50343C;
display:block;
width:100%;
/*clear the float so we can apply the background color t
to the  footer*/
clear:both;
font-size:12px;
}
footer nav {
  display:inline-block;
  width:48%;
  margin:0 auto;
  text-align: center;
}
/**** set up table layout ****/
table{
  width:100%;
  table-layout:fixed;
}
td {
width:33%;
text-align:center;
}
/***** white text for all data texts ***/

td p{
  color:white;
}


#footer-menu p:hover {
color:black; 
background-color:white;
}
/* CENTER TEXT OVER IMAGE */

.wrap {
  width: 1060px;
  height:auto;
  margin: auto;
  text-align:center;
  position:relative;
}
.text_over_image {
  font-size: 100px;
  position: absolute;
margin: auto;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  color:#fff;
 height:100px;
}